* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.post {
  background-color: blanchedalmond;
  padding: 15px;
  border-radius: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  padding: 10px;
}

button {
  padding: 10px;
}

#app {
  padding: 20px;
}